{% extends "base.html" %}

{% block title %}
Главная страница
{% endblock %}


{% block body %}
<section class="first__screen">
    <div class="container">
        <span class="span">Передовая IT студия</span>
        <h1 class='h1'>Мы создаем легкие решения сложных задач и проблем</h1>
        <a href={{url_for('our_projects')}} class="btn">Наши проекты</a>
      </div>
      <img class='img__fon' src="{{url_for('static', filename='img/Rectangle.jpg')}}" alt="icons">
</section>

<section class="services">
    <div class="container">
        <h2 class="h2">Мы создаем мобильные приложения для крупных корпораций</h2>
        <p class="services__text">Мы готовы воплотить в жизнь любые идеи и помочь вашему бизнесу выйти на новый уровень с помощью мобильных технологий.</p>
       <div class="container__service">
            <div class="services__item">
                <img class='service__img' src="{{url_for('static', filename='img/service/1.png')}}" alt="icons">
                <h3>Веб-дизайн</h3>
                <p>включает в себя разработку уникального визуального стиля, создание удобной навигации и т.д.</p>
            </div>

           <div class="services__item">
                <img class='service__img' src="{{url_for('static', filename='img/service/2.png')}}" alt="icons">
                <h3>Создание сайтов</h3>
                <p>Важная часть любого большого бизнеса</p>
            </div>

           <div class="services__item">
                 <img class='service__img' src="{{url_for('static', filename='img/service/3.png')}}" alt="icons">
                <h3>Создание приложений</h3>
                <p>Популярный способ улучшения бизнеса и обеспечения удобства пользователей</p>
            </div>
        </div>
        <a href={{url_for('services')}} class="btn">Все услуги</a>
       </div>
    </div>
</section>

<section class="about-us">
    <div class="container">
        <div class="container__about-us">
            <div class="about__us-text">
                <h2>Высокие стандарты разработки</h2>
                <p>Высокие стандарты разработки означают следование определенным правилам и методам при создании программного обеспечения или других IT-продуктов. Эти стандарты включают в себя использование современных технологий, соблюдение принципов безопасности и производительности, а также тщательное тестирование и документирование кода.</p>
                <a href="/">Подробнее о компании</a>
            </div>
            <img class='service__img' src="{{url_for('static', filename='img/about-us/1.png')}}" alt="icons">
        </div>
        <div class=line></div>
        <div class="about__us-numbers-container">
            <div class="about_us__numbers">
                <img class='img' src="{{url_for('static', filename='img/about-us/web-programming.png')}}" alt="icons">
                <h4>125</h4>
                <span>Our projects</span>
            </div>
            <div class="about_us__numbers">
                <img class='img' src="{{url_for('static', filename='img/about-us/web-programming.png')}}" alt="icons">
                <h4>125</h4>
                <span>Our projects</span>
            </div>
            <div class="about_us__numbers">
                <img class='img' src="{{url_for('static', filename='img/about-us/web-programming.png')}}" alt="icons">
                <h4>125</h4>
                <span>Our projects</span>
            </div>
            <div class="about_us__numbers">
                <img class='img' src="{{url_for('static', filename='img/about-us/web-programming.png')}}" alt="icons">
                <h4>125</h4>
                <span>Our projects</span>
            </div>
            <div class="about_us__numbers">
                <img class='img' src="{{url_for('static', filename='img/about-us/web-programming.png')}}" alt="icons">
                <h4>125</h4>
                <span>Our projects</span>
            </div>
        </div>
    </div>
</section>

<section class="all__services">
    <div class="fon"></div>
    <div class="container">
        <h2 class="h2">Наши работы, на которых<hr>
        мы специализируемся</h2>
        <a href={{url_for('services')}} class="btn">Все услуги</a>
        <div class="all__services-container">
            <div class="all-services__item">
                <img class='service__img' src="{{url_for('static', filename='img/all-service/Rectangle1.png')}}" alt="icons">
                <h4 class="h4"><span>01.</span> Разработка и дизайн веб-сайтов</h4>
                <p>Веб-сайт - это лицо вашего бизнеса в онлайн пространстве. Мы предлагаем услуги разработки и дизайна веб-сайтов, которые привлекают внимание пользователей.</p>
                <a href={{url_for('our_projects')}}>Подробнее</a>
            </div>
             <div class="all-services__item">
                <img class='service__img' src="{{url_for('static', filename='img/all-service/Rectangle 2.1.png')}}" alt="icons">
                <h4 class="h4"><span>02.</span> Мобильные приложения для iOS и Android</h4>
                <p>Наша команда профессионалов создаст для вас уникальное и качественное приложение, которое отвечает всем современным требованиям и станет инструментом для вашего бизнеса.</p>
                <a href={{url_for('our_projects')}}>Подробнее</a>
            </div>
             <div class="all-services__item">
                <img class='service__img' src="{{url_for('static', filename='img/all-service/Rectangle 2.2.png')}}" alt="icons">
                <h4 class="h4"><span>03.</span> Кибербезопасность и защита данных</h4>
                <p>Мы предлагаем надежные и эффективные решения для защиты данных и обеспечения кибербезопасности вашего бизнеса. </p>
                <a href={{url_for('our_projects')}}>Подробнее</a>
            </div>
        </div>
        <div class="line" />
    </div>
</section>

<section class="all__projects">
    <div class="container">
        <h2 class="h2">Наши проекты</h2>
        <p class="text">Мы помогли более 100 бизнесов в оказания наших услуг</p>
        <div class="container__projects">
            <img class='service__img' src="{{url_for('static', filename='img/all-project/Rectangle 2.png')}}" alt="icons">
            <img class='service__img' src="{{url_for('static', filename='img/all-project/Rectangle 2.png')}}" alt="icons">
            <img class='service__img' src="{{url_for('static', filename='img/all-project/Rectangle 2.png')}}" alt="icons">
            <img class='service__img' src="{{url_for('static', filename='img/all-project/Rectangle 2.png')}}" alt="icons">
        </div>
        <a href={{url_for('our_projects')}} class="btn">Все проекты</a>

    </div>
</section>

<section class="video">
    <img class='video__img' src="{{url_for('static', filename='img/video/Rectangle.png')}}" alt="icons">
    <div class="container">
        <h2 class="h2">Видео о нашей работе</h2>
        <p class="text">Просто посмотрите, как мы работаем</p>
        <div class="video__player">
            <img class='video__img' src="{{url_for('static', filename='img/video/Rectangle 2.png')}}" alt="icons">
        </div>

        <div class="line" />

        <form method="POST" action="/add_email" enctype="multipart/form-data" class="subcribe">
            <h5 class="h5">Подпишитесь на нашу рассылку</h5>
            <p class="text">Полезные статьи, акции, новости - получите все это сейчас!</p>
            <div class="email__form">
                <label for="email"></label>
                <input type="email" name="email" class="input__email" placeholder="Ваш e-mail">
                <button type="submit" class="btn__email">Подписаться</button>
            </div>
            <span class="span">Мы не шлем спам, и передаем никому ваши данные.</span>
        </form>

    </div>
</section>

{% endblock %}