{% extends "base.html" %}

{% block link %}
  <link rel="stylesheet" href="{{url_for('static', filename='css/our_projects.css') }}">
{% endblock %}

{% block title %}
Наши проекты
{% endblock %}

{% block body %}
<section class="our__projects">
    <img class="img__fon" src="{{url_for('static', filename='img/Our-projects/1.jpg')}}" alt="">
    <div class="fon"></div>
    <div class="container">
      <h1 class="h1">Все проекты</h1>
      <p class="text">вы попали в наше портфолио, мы гордимся проектами и готовы предоставить вам наше мастерство</з>
    </div>
    
    <div class="portfolio">
      <div class="card__product">
        <img class="img__fon" src="{{url_for('static', filename='img/Our-projects/portfolio/1.png')}}" alt="">
        <h5 class='title__h5'>
          Сайт визитка
        </h5>
      </div>
      <div class="card__product">
        <img class="img__fon" src="{{url_for('static', filename='img/Our-projects/portfolio/2.png')}}" alt="">
        <h5 class='title__h5'>
          Сайт продукт
        </h5>
      </div>
      <div class="card__product">
        <img class="img__fon" src="{{url_for('static', filename='img/Our-projects/portfolio/1.png')}}" alt="">
        <h5 class='title__h5'>
          Сайт визитка
        </h5>
      </div>
      <div class="card__product">
        <img class="img__fon" src="{{url_for('static', filename='img/Our-projects/portfolio/1.png')}}" alt="">
        <h5 class='title__h5'>
          Сайт визитка
        </h5>
      </div>
      <div class="card__product">
        <img class="img__fon" src="{{url_for('static', filename='img/Our-projects/portfolio/2.png')}}" alt="">
        <h5 class='title__h5'>
          Сайт продукт
        </h5>
      </div>
      <div class="card__product">
        <img class="img__fon" src="{{url_for('static', filename='img/Our-projects/portfolio/1.png')}}" alt="">
        <h5 class='title__h5'>
          Сайт визитка
        </h5>
      </div>
      <div class="card__product">
        <img class="img__fon" src="{{url_for('static', filename='img/Our-projects/portfolio/1.png')}}" alt="">
        <h5 class='title__h5'>
          Сайт визитка
        </h5>
      </div>
      <div class="card__product">
        <img class="img__fon" src="{{url_for('static', filename='img/Our-projects/portfolio/2.png')}}" alt="">
        <h5 class='title__h5'>
          Сайт продукт
        </h5>
      </div>
      <div class="card__product">
        <img class="img__fon" src="{{url_for('static', filename='img/Our-projects/portfolio/1.png')}}" alt="">
        <h5 class='title__h5'>
          Сайт визитка
        </h5>
      </div>
    </div>
  </section>


{% endblock %}